body {
  min-height: 100vh;
  height: 100%;
  background-color: hsl(185, 75%, 39%);
}

.container {
  width: 100vw;
  height: 95vh;
  display: table-cell;
  vertical-align: middle;
}

.card {
  width: 350px;
  background-color: white;
  border-radius: 18px;
  font-family: 'kumbh sans', sans-serif;
  text-align: center;
  color: hsl(229, 23%, 23%);
  margin: 0 auto;
}

.top-texture img{
  border-radius: 18px 18px 0 0;
  margin-bottom: -55px;
}

.profile-picture {
    border-radius: 100px;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    background-color: white;
}

.name {
  margin-top: 18px;
  font-size: 18px;
  display: inline-block;
}

.age {
  display: inline;
  color: hsl(227, 10%, 46%);
}

.city {
  margin-top: 5px;
  font-weight: lighter;
  font-size: 16px;
}

.card-stat {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.card-stat-description {
  font-weight: lighter;
  font-size: 14px;
  color: hsl(227, 10%, 46%);
  margin-bottom: 30px;
}
.user-name-age-city {
  margin-bottom: 30px;
}
.user-followers {
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
}
.user-likes {
  display: inline-block;
  margin-right: 30px;
}
.user-photos {
  display: inline-block;
}

.background-img {
  position: absolute;
}
.bg-top {
  width: 75%;
  top: -800px;
  left: -350px;
}

.bg-bottom {
    width: 75%;
    right: -350px;
    bottom: -800px;
}

.container::before {
  top: 0;
  left: 0;
  background: url(../images/bg-pattern-top.svg) no-repeat bottom right;
  position: absolute;
  content: '';
  width: 100vw;
  height: 100vh;
  background-size: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.container::after {
 position: absolute;
 top: 100%;
 left: 100%;
 background: url(../images/bg-pattern-bottom.svg) no-repeat top left;
 content: '';
 width: 100vw;
 height: 100vh;
 background-size: auto;
 transform: translate(-50%, -50%);
 z-index: -1;
}

hr {
  border-color: #dedede;
  border-width: .5px 0 0 0;
  border-right: none;
  border-bottom:none;
  border-left: none;
}

.attribution {
  font-size: 11px; text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
