body {
  background-color: hsl(185, 75%, 39%);
}


.card-stat {
  font-weight: bold;
  font-size: 18px;
}

.card {
  width: 350px;
  background-color: white;
  border-radius: 18px;
  font-family: 'kumbh sans', sans-serif;
  text-align: center;
  color: hsl(229, 23%, 23%);
  margin: 200px auto;
}

.top-texture img{
  border-radius: 18px 18px 0 0;
  margin-bottom: -55px;
}

.profile-picture {
    border-radius: 100px;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    background-color: white;
}

.name {
  margin-top: 18px;
  font-size: 18px;
  display: inline-block;
}

.age {
  display: inline;
  color: hsl(227, 10%, 46%);
}

.city {
  margin-top: 5px;
  font-weight: lighter;
  font-size: 16px;
}

.card-stat-description {
  font-weight: lighter;
  font-size: 16px;
  color: hsl(227, 10%, 46%);
}

.user-followers {
  display: inline-block;
  margin-right: 30px;
}
.user-likes {
  display: inline-block;
  margin-right: 30px;
}
.user-photos {
  display: inline-block;
}

.background-img {
  display: inline;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
